[Desktop Entry]
Name=Pardus Greeter
Name[pt]=Bem-vindo ao Pardus
Name[tr]=Pardus Karşılayıcı
GenericName=Greeter App
GenericName[pt]=Aplicação de Boas-vindas
GenericName[tr]=Karşılayıcı Uygulaması
Comment=This tool helps you to get Pardus ready.
Comment[pt]=Esta ferramenta ajuda-o a preparar o Pardus.
Comment[tr]=Bu araç Pardus'u hazırlamanıza yardımcı olacaktır.
Exec=pardus-xfce-greeter
Icon=pardus-xfce-greeter
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
Keywords=welcome;greeter;setup;configuration;settings
