[Desktop Entry]
Name=Pardus Greeter
Name[tr]=Pardus Hoşgeldiniz
GenericName=Welcome App
GenericName[tr]=Hoşgeldiniz Uygulaması
Comment=This tool helps you to get Pardus ready.
Comment[tr]=Bu araç Pardus'u hazırlamanıza yardımcı olacaktır.
Exec=pardus-welcome
Icon=/usr/share/pardus/pardus-welcome/icon.svg
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
Keywords=welcome;greeter;setup;configuration;settings
